<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237851896241-qael0ja5394qepn9fhrvgsee7evq2c63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237851896241-qael0ja5394qepn9fhrvgsee7evq2c63</string>
	<key>API_KEY</key>
	<string>AIzaSyAhrNOQd4RwpGRnotB0LvjZV4Iq2UqXDgo</string>
	<key>GCM_SENDER_ID</key>
	<string>237851896241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connectmobile</string>
	<key>PROJECT_ID</key>
	<string>connect-firebase-dev-5f1a</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-firebase-dev-5f1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237851896241:ios:7fc1af02b48a5920cb7590</string>
</dict>
</plist>